{
    "expense_master": {
        "bill_society": [
          "CHQ PAID-TRANSFER IN-KARETAKER SOLUTIONS",
          "POS 512967XXXXXX7975 SOCIETY CONNECT"
        ],
        "atm_withdrawl": [
          "ATW-512967XXXXXX7975-",
          "NWD-512967XXXXXX7975-"
        ],
        "loan": [
          "NEFT DR-UTIB0000361-MUM AXIS-SANDOZ - MU",
          "ACH D- CCPC NEW DELHI-EMI-00000000000000",
          "CHQ PAID-MICR CTS-NO-KARAN BAJAJ"
        ],
        "cabs": [
          "UPI-SUPER HIGHWAY LABS P-SHUTTL.RAZORPAY",
          "POS 512967XXXXXX7975 UBER",
          "POS 512967XXXXXX7975 SHUTTL",
          "POS 512967XXXXXX7975 GRAB",
          "POS 512967XXXXXX7975 PAYU-WWW.OLACABS"
        ],
        "insurance": [
          "POS 512967XXXXXX7975 TPS*SBI LIFE INS"
        ],
        "investment": [
          "UPI-007215494346-SBICARDSLM776475200351-"
        ],
        "online_groceries": [
          "POS 512967XXXXXX7975 DOORSTEP RETAIL",
          "UPI-MILKDAIRYCOOPERATIVE-MILKDAIRYCOOPER",
          "POS 512967XXXXXX7975 PAYU-WWW.BIGBASK",
          "POS REF 512967******7975-04/06 WWW.BIGBA",
          "POS 512967XXXXXX7975 BB DAILY",
          "UPI-EASEBUZZ-EASEBUZZ.NBFC@HDFCBANK-HDFC",
          "UPI-BIGBASKET-PAYTM-",
          "UPI-MILKBASKET-PAYTM-MILKBASKET@PAYTM-PY"
        ],
        "furniture": [
          "POS 512967XXXXXX7975 GREEN SOUL"
        ],
        "events": [
          "POS 512967XXXXXX7975 EVENTBRITE"
        ],
        "transfer_friends": [
          "UPI-PRABHAT BAHUKHANDI-PBAHUK@OKAXIS-UTI",
          "UPI-MOHIT DHINGRA-MOHITDHINGRA01@OKHDFCB",
          "UPI-MR BHARAT GABA S O T-BHARATGABA04@OK"
        ],
        "petrol": [
          "POS 512967XXXXXX7975 OMSAIFILLINGSTAT",
          "POS 512967XXXXXX7975 OM SAI."
        ],
        "gas": [
          "POS 512967XXXXXX7975 INDRAPRASTHA GAS",
          "UPI-INDRAPRASTHA GAS LIM-"
        ],
        "transfer_others": [
          "UPI-ASIF"
        ],
        "bill_postpaid": [
          "UPI-VODAFONE IDEA LIMITE-VMSLPOSTPAID@HS",
          "UPI-RELIANCE JIO INFOCOM-JIO@CITIBANK-CI",
          "POS 512967XXXXXX7975 PAYU-WWW.VODAFON"
        ],
        "medical": [
          "POS 512967XXXXXX7975 KAILASH HEALTH C",
          "UPI-PRACTO-PRACTO1.PAYU@HDFCBANK-HDFC000",
          "POS 512967XXXXXX7975 PAYU*QIKWELL TEC",
          "POS 512967XXXXXX7975 QIKWELL",
          "POS 512967XXXXXX7975 UMA MEDICARE LTD"
        ],
        "transfer_family": [
          "UPI-KAMAL",
          "UPI-PRIYA GABA-PRIYA.GABA95@OKAXIS-UTIB0",
          "NEFT DR-SBIN0017081-PAPA SBI-SANDOZ - MU"
        ],
        "online_food": [
          "UPI-ZOMATO-ZOMATO-ORDER@PAYTM-PYTM012345"
        ],
        "paytm": [
          "POS 512967XXXXXX7975 PTM*PAYTM"
        ],
        "online_shopping": [
          "AMAZON",
          "FLIPKART"
        ],
        "z_interest": [
            "MONTHLY INTEREST CREDIT 50300345329218",
            "CREDIT INTEREST CAPITALISED"
          ],
        "z_salary": [
            "NEFT CR-CITI0000004-EIGHTFOLD AI INDIA P"
        ],
        "zz_uncategorized": [
            "uncategorized"
        ]
    },
    "ignore_cats": [
        ".DC INTL POS TXN MARKUP+ST",
        "DEBIT CARD PUR ADJ DT",
        "DEBIT CARD ATM ADJ DT",
        "UPI-GOOGLEPAY-GOOG-PAYMENT@OKAXIS-UTIB00",
        "UPI RET-2020-",
        "RTGS-RETURN-",
        ".DC INTL ATM W/D MARKUP+ST",
        ".ATM FEES INTL W/D INCL ST"
    ]
}